<h2 mat-dialog-title>{{ data ? 'Editar Usuario' : 'Nuevo Usuario' }}</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="user-form">
    <mat-form-field appearance="outline" class="user-form__field">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="user-form__field">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="user-form__field">
      <mat-label>Ciudad</mat-label>
      <input matInput formControlName="city" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="save()">Guardar</button>
</mat-dialog-actions>

